body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
h5 {
  color: red;
  text-align: center;
}
h1 {
  font-family: "Smooch Sans", sans-serif;
}
.container {
  border: 2px solid black;
  margin: 2rem auto;
  width: 100%;
  padding: 5%;
  max-width: 25%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
form {
  margin: 0.75rem auto;
  width: 100%;
}

input {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.navigation {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.navigation button {
  margin: 0 1rem;
}
button[type="submit"] {
  width: 80px;
  font-weight: 700;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (max-width: 675px) {
  .container {
    max-width: 75%;
    margin-top: 4rem;
  }

  input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
  }
}
